.vs/MaxStory/config/applicationhost.config
.vs/MaxStory/DesignTimeBuild/.dtbcache.v2
.vs/MaxStory/FileContentIndex/120ddba7-dcf8-4ac2-bf20-65bd80c6224c.vsidx
.vs/MaxStory/FileContentIndex/8071b83f-d66e-4878-9a5c-9a8b1d3f07e3.vsidx
.vs/MaxStory/FileContentIndex/e7331d5b-88bd-49da-8dc0-f26345cb3e8f.vsidx
.vs/MaxStory/FileContentIndex/fe0769cf-f4e1-4771-a93f-fcdfeb9eb9a1.vsidx
.vs/MaxStory/FileContentIndex/read.lock
.vs/MaxStory/v14/.suo
.vs/MaxStory/v16/.suo
.vs/MaxStory/v17/.futdcache.v2
.vs/MaxStory/v17/.suo
.vs/MaxStory/v17/fileList.bin
.vs/ProjectEvaluation/maxstory.metadata.v5.1
.vs/ProjectEvaluation/maxstory.projects.v5.1
*.vsidx
