<!DOCTYPE html>
<html lang="vi">
<!-- Mirrored from trumtruyen.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Aug 2023 02:35:00 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type"
      content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile#">
    <meta charset="UTF-8" />
    <title>Đọc truyện online, đọc truyện hay</title>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,initial-scale=1" />
    <meta name="description"
          content="Đọc truyện online, đọc truyện chữ, truyện hay, trùm truyện, truyện full. Trùm Truyện luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất." />
    <meta name="keywords"
          content="doc truyen, doc truyen online, truyen hay, truyen chu" />
    <meta name="apple-mobile-web-app-status-bar-style"
          content="black-translucent" />
    <!--[if lt IE 9
      ]><script src="https://static.trumtruyen.vip/lib/html5.js"></script
    ><![endif]-->
    <!--[if lt IE 9
      ]><script src="https://static.trumtruyen.vip/lib/css3-mediaqueries.min.js"></script
    ><![endif]-->
    <link rel="canonical" href="index.html" />
    <link rel="preconnect" href="https://static.trumtruyen.vip/" />
    <link rel="preconnect" href="https://www.google-analytics.com/" />
    <link rel="preload"
          as="font"
          crossorigin="crossorigin"
          type="font/woff"
          href="http://static.trumtruyen.vip/font/RobotoCondensed-Regular.woff" />
    <link rel="preload"
          as="font"
          crossorigin="crossorigin"
          type="font/woff2"
          href="http://static.trumtruyen.vip/lib/bootstrap/fonts/glyphicons-halflings-regular.woff2" />
    <link rel="preload"
          as="image"
          type="image/jpeg"
          href="../static.trumtruyen.vip/img/bg.jpg" />
    <link rel="preload"
          as="image"
          type="image/png"
          href="../static.trumtruyen.vip/img/spriteimg_new_white_op.png" />
    <link rel="preload"
          as="script"
          href="../static.trumtruyen.vip/min/g/mainjs-index-121222-5.js" />
    <link rel="preload"
          as="style"
          type="text/css"
          href="~/static.trumtruyen.vip/min/g/maincss-030423-2.css" />
    <link rel="preload"
          as="script"
          href="../static.trumtruyen.vip/js/analytics_GA4.js" />
    <link rel="preload"
          as="image"
          type="image/png"
          href="../static.trumtruyen.vip/img/full-label.png" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/0r8NWR/chien-than-thanh-y-huyen-thoai-thanh-y.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/iAYsOq/cuong-ai-thanh-hon-toi-nguyen-rua-anh-ca-doi.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/WO1xoJ/than-y-o-re.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/p9fjyh/thong-doc-dai-nhan-em-xin-anh.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/1wusiN/hop-dong-hon-nhan-voi-tong-tai-ac-ma.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/9xbTtC/nu-hau-cam-em-dung-lai-do.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/wJN8uY/song-sinh-hoan-doi-ngot-ngao-rieng-em.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/DLZeN8/thay-bach-dung-lam-loan.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/FxViFh/linh-vu-thien-ha.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/SpDAJM/van-co-chi-ton.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/f5SpMS/bach-tien-sinh-toi-muon-ly-hon.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/ctX9DF/co-vo-ngot-ngao-lao-cong-om-mot-cai.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/i0z85g/ngot-ngao-cua-ac-ma-2.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/2sADIN/cung-chieu-vo-nho-troi-ban-270221.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/UWTVZL/sac-tinh-kho-cuong.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/wJN8uY/ep-hon-cung-tong-tai-ac-ma.jpg"
          media="(max-width: 1199px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/wsOFQO/em-thay-nui-xanh.jpg"
          media="(min-width: 1200px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/rkNO7w/chuyen-doi-ta.jpg"
          media="(min-width: 1200px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/ix2FPL/ho-ly-nho-trong-tay-do-doc-ac-ma.jpg"
          media="(min-width: 1200px)" />
    <link rel="preload"
          as="image"
          href="../static.trumtruyen.vip/t/fhACyJ/phai-long-qua-som.jpg"
          media="(min-width: 1200px)" />

  @*  <link href="~/Content/story.css" rel="stylesheet" />*@
    <link rel="search"
          type="application/opensearchdescription+xml"
          href="static/xml/opensearch.xml"
          title="Search" />
    <link rel="shortcut icon"
          type="image/x-icon"
          href="https://static.trumtruyen.vip/favicon.ico" />
    <link rel="icon"
          type="image/png"
          href="../static.trumtruyen.vip/favicons/favicon-192x192.png"
          sizes="192x192" />
    <link rel="icon"
          type="image/png"
          href="../static.trumtruyen.vip/favicons/favicon-160x160.png"
          sizes="160x160" />
    <link rel="icon"
          type="image/png"
          href="../static.trumtruyen.vip/favicons/favicon-96x96.png"
          sizes="96x96" />
    <link rel="icon"
          type="image/png"
          href="../static.trumtruyen.vip/favicons/favicon-16x16.png"
          sizes="16x16" />
    <link rel="icon"
          type="image/png"
          href="../static.trumtruyen.vip/favicons/favicon-32x32.png"
          sizes="32x32" />
    <link rel="apple-touch-icon"
          sizes="57x57"
          href="../static.trumtruyen.vip/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon"
          sizes="114x114"
          href="../static.trumtruyen.vip/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon"
          sizes="72x72"
          href="../static.trumtruyen.vip/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon"
          sizes="144x144"
          href="../static.trumtruyen.vip/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon"
          sizes="60x60"
          href="../static.trumtruyen.vip/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon"
          sizes="120x120"
          href="../static.trumtruyen.vip/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon"
          sizes="76x76"
          href="../static.trumtruyen.vip/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon"
          sizes="152x152"
          href="../static.trumtruyen.vip/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="../static.trumtruyen.vip/favicons/apple-touch-icon-180x180.png" />
   @* <link href="~/static.trumtruyen.vip/min/g/maincss-index-030423-2.css" rel="stylesheet" />*@
    @RenderSection("css", required: false)
   @* <link href="~/static.trumtruyen.vip/min/g/maincss-030423-2.css" rel="stylesheet" />*@
</head>
<body id="body_home">
    <div id="wrap">
        <div class="navbar navbar-default navbar-static-top"
             role="navigation"
             id="nav">
            <script type="text/javascript">
          function getCookie(d) {
            d += '=';
            for (
              var b = decodeURIComponent(document.cookie).split(';'),
                c = [],
                a = 0;
              a < b.length;
              a++
            )
              0 == b[a].trim().indexOf(d) && (c = b[a].trim().split('='));
            return 0 < c.length ? c[1] : '';
          }
          var js_bgcolor = getCookie('bgcolor-cookie');
          '#232323' == js_bgcolor &&
            (document.getElementsByTagName('body')[0].className +=
              ' dark-theme');
            </script>
            <div class="container">
             
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse"
                            aria-label="Hiện menu">
                        <span class="sr-only">Hiện menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="header-logo" href="index.html" title="doc truyen">doc truyen</a>
                    </h1>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="28"
                         height="28"
                         fill="currentColor"
                         viewBox="0 0 16 16"
                         class="moon-toggle"
                         aria-label="Đổi giao diện ban đêm">
                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"></path>
                    </svg><svg xmlns="http://www.w3.org/2000/svg"
                               width="28"
                               height="28"
                               fill="currentColor"
                               viewBox="0 0 16 16"
                               class="moon-toggle moon-toggle-dark"
                               aria-label="Đổi giao diện ban đêm">
                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
                    </svg>
                </div>
                <div class="navbar-collapse collapse"
                     itemscope
                     itemtype="https://schema.org/WebSite">
                    <meta itemprop="url" content="https://trumtruyen.vn" />
                    @await Component.InvokeAsync("CategoryMenu")
                    <form class="navbar-form navbar-right"
                          action="https://localhost:7021/tim-kiem/"
                          role="search"
                          itemprop="potentialAction"
                          itemscope
                          itemtype="https://schema.org/SearchAction">
                        <div class="input-group search-holder">
                            <meta itemprop="target"
                                  content="https://localhost:7021/tim-kiem/?tukhoa={tukhoa}" /><input aria-label="Từ khóa tìm kiếm"
                                                                                                     class="form-control"
                                                                                                     id="search-input"
                                                                                                     type="search"
                                                                                                     name="tukhoa"
                                                                                                     placeholder="Tìm kiếm..."
                                                                                                     value=""
                                                                                                     itemprop="query-input"
                                                                                                     required />
                            <div class="input-group-btn">
                                <button class="btn btn-default"
                                        type="submit"
                                        aria-label="Tìm kiếm"
                                        role="search">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <div class="list-group list-search-res hide"></div>
                    </form>
                </div>
            </div>
            <div class="navbar-breadcrumb">
                <div class="container breadcrumb-container">
                    Đọc truyện online, đọc truyện chữ, truyện full, truyện hay. Tổng hợp
                    đầy đủ và cập nhật liên tục.
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <div id="footer" class="footer">
        @{
            var url = "http://117.4.252.46:8080/extent";
        }

        <div class="container">
            <div class="hidden-xs col-sm-5">
                <strong>Trùm Truyện</strong> -
                <a href=@url.Replace("extent","index.html") title="Đọc truyện online">Đọc truyện</a> online,
                <a href=@url.Replace("extent","index.html") title="Đọc truyện chữ">đọc truyện</a> chữ,
                <a href=@url.Replace("extent","index.html") title="Truyện hay">truyện hay</a>. Website luôn
                cập nhật những bộ
                <a href=@url.Replace("extent","danh-sach/truyen-moi/index.html") title="Truyện mới">truyện mới</a>
                thuộc các thể loại đặc sắc như
                <a href=@url.Replace("extent","the-loai/tien-hiep/index.html") title="Truyện tiên hiệp">truyện tiên hiệp</a>,
                <a href=@url.Replace("extent","the-loai/kiem-hiep/index.html") title="Truyện kiếm hiệp">truyện kiếm hiệp</a>, hay
                <a href=@url.Replace("extent","the-loai/ngon-tinh/index.html") title="Truyện ngôn tình">truyện ngôn tình</a>
                một cách nhanh nhất. Hỗ trợ mọi thiết bị như di động và máy tính
                bảng.<br />Website hoạt động dưới Giấy phép truy cập mở
                <a rel="license"
                   target="_blank"
                   href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
            </div>
            <ul class="col-xs-12 col-sm-7 list-unstyled">
                <li class="text-right pull-right">
                    <a href=@url.Replace("extent","contact/index.html") title="Contact">Contact</a> -
                    <a href=@url.Replace("extent","tos/index.html") title="Terms of Service">ToS</a><a class="backtop"
                                                                                title="Trở lên đầu trang"
                                                                                href="#wrap"
                                                                                rel="nofollow"
                                                                                aria-label="Trở về đầu trang">
                        <span class="glyphicon glyphicon-upload"></span>
                    </a>
                </li>
                <li class="hidden-xs tag-list">
                    <a href=@url.Replace("extent","danh-sach/dam-my-hai/index.html") title="đam mỹ hài">đam mỹ hài</a>
                    <a href=@url.Replace("extent","danh-sach/truyen-bjyx/index.html") title="truyen bjyx">truyen bjyx</a>
                    <a href=@url.Replace("extent","danh-sach/harry-potter-fanfic/index.html")
                       title="harry potter fanfic">harry potter fanfic</a>
                    <a href=@url.Replace("extent","danh-sach/ngon-tinh-tong-tai/index.html")
                       title="ngôn tình tổng tài">ngôn tình tổng tài</a>
                    <a href=@url.Replace("extent","the-loai/xuyen-nhanh/index.html") title="truyện xuyên nhanh">truyện xuyên nhanh</a>
                    <a href=@url.Replace("extent","danh-sach/ngon-tinh-sung/index.html") title="ngôn tình sủng">ngôn tình sủng</a>
                    <a href=@url.Replace("extent","danh-sach/ngon-tinh-hai/index.html") title="ngôn tình hài">ngôn tình hài</a>
                    <a href=@url.Replace("extent","danh-sach/truyen-teen-hay/index.html")
                       title="truyện teen hay">truyện teen hay</a>
                    <a href=@url.Replace("extent","danh-sach/ngon-tinh-hay/index.html") title="ngôn tình hay">ngôn tình hay</a>
                    <a href=@url.Replace("extent","the-loai/dam-my/index.html") title="truyện đam mỹ">truyện đam mỹ</a>
                    <a href=@url.Replace("extent","the-loai/ngon-tinh/hoan/index.html")
                       title="truyện ngôn tình">truyện ngôn tình</a>
                    <a href=@url.Replace("extent","the-loai/ngon-tinh/hoan/index.html") title="ngôn tình hoàn">ngôn tình hoàn</a>
                    <a href=@url.Replace("extent","danh-sach/ngon-tinh-nguoc/index.html")
                       title="ngôn tình ngược">ngôn tình ngược</a>
                    <a href=@url.Replace("extent","danh-sach/kiem-hiep-hay/index.html")
                       title="truyện kiếm hiệp hay">truyện kiếm hiệp hay</a>
                    <a href=@url.Replace("extent","danh-sach/tien-hiep-hay/index.html")
                       title="truyện tiên hiệp hay">truyện tiên hiệp hay</a>
                    <a href=@url.Replace("extent","danh-sach/truyen-bjyx/index.html") title="truyen bac chien">truyen bac chien</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="../static.trumtruyen.vip/min/g/mainjs-index-121222-5.js"></script>
    <noscript>
        <link rel="stylesheet"
              type="text/css"
              href="../static.trumtruyen.vip/min/g/maincss-index-030423-2.css" />
    </noscript>
    @RenderSection("Scripts", required: false)
  @*  <script>
      $('head').append(
        '<link rel="stylesheet" type="text/css" href="../static.trumtruyen.vip/min/g/maincss-index-030423-2.css"/>',
      );
    </script>*@
</body>
<!-- Mirrored from trumtruyen.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Aug 2023 02:35:10 GMT -->
</html>
